body{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: rgb(20, 10, 56);
}

.list{

 display: flex;
 background-color: rgb(73, 53, 100);
 justify-content: center;
 align-items: center;
 flex-direction: column;
 padding:30px;
 gap:10px;
border-radius: 10px;

}

.mandar{
display: flex;
flex-direction: column;
gap: 0px;
gap:8px
}

.agendar{
  outline-color: black;
  border-style: none;
}

.botao{
border-bottom-color: rgb(0, 0, 0);
background-color: rgb(27, 18, 51);
color:white;
border-style:none;
border-radius: 10px;
transition: 0.3s;
}

.botao:hover{

  padding:5px;
  border-style:solid;
  border-color:rgb(217, 180, 238)

}

#tarefa {

color:white;
background-color: rgb(25, 11, 32);
border-style:none;

}
